<h1>du lieu tu controller gui về là :@ViewBag.infoPerson</h1>
<form asp-action="Index">
    <label for="">nhap person id</label>
    <input type="text" name="PersonId">
    <label for="">nhap ho ten:</label>
    <input type="text" name="Fullname">
    <label for="">nhap dia chi</label>
    <input type="text" name="Address">
    <input type="submit" value="gui du lieu">
</form> 