@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index">
    <label for="nhap Home ten">nhap Ho ten</label>
    <input type="text" name="fullname">
    <label for="">nhap dia chi</label>
    <input type="text" name="Address">
    <input type="submit" value="gui du lieu">
</form>
<h1>@ViewBag.Message</h1>
